* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body{
    background-color:#00613C;
}

.container {
    margin: 100%;
    margin: 0 auto;
  }

header{
    padding: 16px 0;
    background-color:  #870A28;

    h1{
        color: #fff;
        text-align: center;
    }
}
